.titlep{
  background-color: rgb(255, 195, 54);
}

.azul{
  background-color: rgb(99, 205, 224);
  text-align: left;
}

.banco{
  background-color: rgb(255, 223, 39);
}

.title2{
  background-color: aquamarine;
}

td{
  text-align: right;
}

.ciudad{
  text-align: left;
}